body {
  background: #fafafa;
  border-top: .3em solid #895295;
  color: #545E6C;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3 {
  line-height: 1.25;
}

a {
  color: #bb4fa0;
  text-decoration: none;
}

a:hover {
  color: #70325f;
  text-decoration: underline;
}

a:focus {
  text-decoration: none;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 0;
}

ul {
  margin-bottom: 0;
}

ul.list-unstyled {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li:last-child {
  margin-bottom: 0;
}

.container {
  margin: 0 auto 0;
  max-width: 950px;
  position: relative;
}

.sidebar {
  background: #ab66ba;
  color: #ffffff;
  height: 100%;
  position: absolute;
  right: 0;
  width: 230px;
}

.sidebar a {
  color: #ffffff;
}

.sidebar .profile {
  background: #895295;
  padding: 2.15em;
  text-align: center;
}

.sidebar .profile .name {
  font-size: 1.85em;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}

.sidebar .profile .headline {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar .profile .photo {
  margin-bottom: 15px;
  vertical-align: middle;
}

.sidebar .topic {
  padding: 30px;
}

.sidebar .topic .name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

.main {
  background: #ffffff;
  padding: 60px 300px 60px 60px;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #bb4fa0;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}

.icon-holder {
  background: #bb4fa0;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  height: 30px;
  position: relative;
  margin-right: 8px;
  text-align: center;
  top: -8px;
  width: 30px;
}

.icon-holder i {
  font-size: 14px;
  margin-top: 6px;
}

.section {
  margin-bottom: 60px;
}

.job {
  margin-bottom: 30px;
}

.meta {
  margin-bottom: 10px;
}

.meta:first-child {
  margin-bottom: 2px;
  overflow: hidden;
  position: relative;
}

.meta .alias {
  color: #97aac3;
}

.role {
  color: #3F4650;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.time {
  color: #6e819b;
  position: absolute;
  right: 0;
  top: 0;
}

.alias,.company .name {
  color: #605975;
}

.company .location {
  color: #97aac3;
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    width: inherit;
  }

  .main {
    padding: 30px;
  }

  .main .time {
    position: static;
    display: block;
    margin-top: 5px;
  }
}
